*.pyc
.ropeproject
*.o
*.so
*.os
*.a
*.log
.sconsign.dblite
bin/
lib/runner
test/test
test/lib/.out

doc/build

*.swp
.lock*
.waf*
build/
waf
lib/moose-config.h

# db
*sqlite*
.cython_cache/

# Coredumps
core

# Scons
.sconf_temp
.sconstemp
test-*

*.suppression
.libs/
*.typelib
*.gir
*.la
